---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: false
---

{% include base_path %}

<h3 style="margin-bottom: 10px;">Journal Publications</h3>
<ul style="list-style-type: disc; margin-left: 25px; margin-top: 0;">
{% for post in site.publications reversed %}
  {% if post.category == 'journal' %}
    <li style="margin-bottom: 8px;">
      {% include archive-single.html %}
    </li>
  {% endif %}
{% endfor %}
</ul>



<hr style="border: 0.5px solid #eee; margin: 20px 0;">

<h3 style="margin-bottom: 10px;">Selected Working Papers</h3>
<ul style="list-style-type: disc; margin-left: 25px; margin-top: 0;">
{% for post in site.publications reversed %}
  {% if post.category == 'working' %}
    <li style="margin-bottom: 8px;">
      {% include archive-single.html %}
    </li>
  {% endif %}
{% endfor %}
</ul>


<hr style="border: 0.5px solid #eee; margin: 20px 0;">

<h3 style="margin-bottom: 10px;">Conference Presentations</h3>
<ul style="list-style-type: disc; margin-left: 25px; margin-top: 0;">
{% for post in site.publications reversed %}
  {% if post.category == 'conference' %}
    <li style="margin-bottom: 8px;">
      {% include archive-single.html %}
    </li>
  {% endif %}
{% endfor %}
</ul>

